<table class="table table-striped table-bordered table-hover">
  <tr>
    <th><%=t :id %></th>
    <th><%=t :pid %></th>
    <th><%=t :ref_pid %></th>
    <th><%=t :text %></th>
    <th><%=t :content %></th>
  </tr>
  <% if @page && @page.data %>
    <% @page.data.each_with_index do|comment, i| %>
      <tr>
        <th><%= comment.id %></th>
        <th><%= comment.pid %></th>
        <th><%= comment.ref_pid %></th>
        <th><%= comment.text %></th>
        <th><%= comment.content %></th>
      </tr>
    <% end %>
  <% end %>
</table>

<div class='pager'>
  <div class="pagination">
    <% if not @page.nil? %>
      <%= link_to t(:first_page), tweet_view_comments_url(@tweet.pid, @tweet.id, 1) %>
      <% if @page.curPage.to_i > 1 %>
        <%= link_to t(:previous_page), tweet_view_comments_url(@tweet.pid, @tweet.id, @page.curPage.to_i - 1) %>
      <% else %>
        <span class="previous_page disabled"><%=t :previous_page %></span>
      <% end %>
      <% @page.pages.each do |p| %>
        <% if p.to_i <= @page.curPage.to_i + 4 or p.to_i >= @page.curPage.to_i - 4 %>
          <% if p.to_i == @page.curPage.to_i %>
            <em class="current"><%= p %></em>
          <% else %>
            <%= link_to p.to_s, tweet_view_comments_url(@tweet.pid, @tweet.id, p) %>
          <% end %>
        <% end %>
      <% end %>
      <% if @page.curPage.to_i < @page.pageNum.to_i %>
        <%= link_to t(:next_page), tweet_view_comments_url(@tweet.pid, @tweet.id, @page.curPage.to_i + 1) %>
      <% else %>
        <span class="next_page disabled"><%=t :next_page %></span>
      <% end %>
      <%= link_to t(:last_page), tweet_view_comments_url(@tweet.pid, @tweet.id, @page.pageNum.to_i) %>
    <% end %>
  </div>
</div>