<%= render 'person_header' %>

<% if @person.unread_message_senders %>
  <table class="table table-striped table-bordered table-hover">
    <tr>
      <th><%=t :person_new_msg_pid %></th>
      <th><%=t :person_new_msg_self_pid %></th>
      <th><%=t :person_new_msg_time %></th>
      <th><%=t :person_new_msg_zone %></th>
    </tr>
    <% @person.unread_message_senders.each do|s| %>
      <tr>
        <th><%= s.pid %></th>
        <th><%= s.self_pid %></th>
        <th><%= Time.at(s.time).strftime('%Y-%m-%d %H:%M') %></th>
        <th><%= s.zone %></th>
      </tr>
    <% end %>
  </table>
<% end %>