
<p>
<b><%=t :id %>:</b>
<%=h @alert.id %>
</p>

<p>
<b><%=t :name %>:</b>
<%=h @alert.name %>
</p>

<p>
<b><%=t :receivers %>:</b>
<%=h @alert.receivers %>
</p>

<p>
<b><%=t :enabled %>:</b>
<%=h @alert.enabled %>
</p>
