<div>
  <input type="button" width=200 onclick="onBtnCancel();" value="<%=t :back_to_list%>">
  <br/>
  <br/>
  <br/>
  <label>
    <% if @group.nil? %>
      <%=t :booth_plz_select_zones%>
    <% else %>
      <%=t :booth_plz_select_added_zones%>
    <% end %>
  </label>
  <br/>
  <br/>
  <% @edit_zones.each_with_index do |zone, i| %>
    <% if (i % 10) == 0 %>
      <br/>
    <% end %>
    <% if zone[:sel] 
        checked = "checked='checked' disabled='true'" 
       else
        checked = "" 
       end
    %>
    <input id="check_<%= i %>" name="check_<%= i %>" type="checkbox" value="<%=zone[:zone]%>" <%= checked %> />
    <label for="check_<%= i %>"><%= zone[:name] %></label>&nbsp&nbsp&nbsp
  <% end %>
  <br/>
  <br/>
  <input type="button" width=200 onclick="saveBoothGroup()" value="<%=t :save%>">
</div>
<br/>

<script type="text/javascript">
  function getGroup()
  {
    var zones = new Array();
    for(var i=0; i < <%= @edit_zones.length %>; i++)
    {
      var ck = document.getElementById("check_"+i);
      if(ck.checked)
      {
        zones.push(ck.value);
      };
    };
    return zones.join(',');
  };

  function saveBoothGroup()
  {
    var oldGroup = '<%= @zones || '' %>';
    var newGroup = getGroup();
    $.ajax({
      type: 'POST',
      url: 'save_group',
      data: {'old_group' : oldGroup, 'new_group' : newGroup, 'id' : '<%= @id || '' %>'}
    }).done(function(jsonData){
      console.log(jsonData);
      window.location.href = "/booth/group_list";
    }).fail(function(xhr, status){
      showStatus('Something wrong!', 'fail');
    });
  };

  function onBtnCancel()
  {
    window.location.href = "/booth/group_list";
  };
</script>