<div class="row">
  <div class="col-md-2">
    <input type="button" onclick="doSavePool()" value="<%=t :save%>" class="btn btn-success"></input>
    <input type="button" width=200 onclick="doCancel();" value="<%=t :back_to_list%>">
  </div>
  <br/><br/>
  <table class="table table-striped table-bordered table-hover">
    <tr>
      <th><%=t 'ID' %></th>
      <th><%=t :matching_pool_mtype %></th>
      <th><%=t :matching_pool_ctype %></th>
      <th><%=t :matching_pool_score_min %></th>
      <th><%=t :matching_pool_score_max %></th>
    </tr>
    <tr>
      <th><%= @pool.id %></th>
      <th>
        <select width=200 id="map_type" name="map_type" class="form-control">
          <% MatchMapType.every do |k, v| %>
            <option value='<%= v %>' <%= if @pool.map_type.to_i == v.to_i then 'selected' else '' end%> >
              <%=t PoolProfile.MAP_NAME[v.to_i] %>
            </option>
          <% end %>
        </select>
      </th>
      <th>
        <select width=200 id="combat_type" name="combat_type" class="form-control">
          <% MatchCombatType.every do |k, v| %>
            <option value='<%= v %>' <%= if @pool.combat_type.to_i == v.to_i then 'selected' else '' end%> >
              <%=t PoolProfile.COMBAT_NAME[v.to_i] %>
            </option>
          <% end %>
        </select>
      </th>
      <th> 
        <input id="score_min" name="score_min" type="text" class="form-control" value="<%= @pool.score_min %>"/> 
      </th>
      <th> 
        <input id="score_max" name="score_max" type="text" class="form-control" value="<%= @pool.score_max %>"/> 
      </th>
    </tr>
  </table>
</div>


<script type="text/javascript">
  function doCancel()
  {
    window.location.href = "/matching_pools/list";
  };

  function doSavePool()
  {
    var id = <%= @pool.id %>;
    var score_min = $("#score_min").val();
    var score_max = $("#score_max").val();
    var map_type = $("#map_type").val();
    var combat_type = $("#combat_type").val();

    $.ajax({
      type: 'POST',
      url: 'save',
      data: { 
              'id' : id, 
              'map_type' : map_type, 
              'combat_type' : combat_type,
              'score_min' : score_min,
              'score_max' : score_max
            }
    }).done(function(jsonData){
      console.log(jsonData);
      window.location.href = "/matching_pools/list";
    }).fail(function(xhr, status){
      showStatus('Something wrong!', 'fail');
    });
  }
</script>
