
<p>
<b><%=t :id %>:</b>
<%=h @receiver.id %>
</p>

<p>
<b><%=t :name %>:</b>
<%=h @receiver.name %>
</p>

<p>
<b><%=t :mobile %>:</b>
<%=h @receiver.mobile %>
</p>

<p>
<b><%=t :email %>:</b>
<%=h @receiver.email %>
</p>
