<h1><%=t :create_normal_event %></h1>
<%= form_for_hash @event, 'normal_event', {:action => "create"}, :method => :post, :class => "form" do |f| %>
  <%= render :partial => "form", :object => f, :locals => { :event => @event } %>
  <%= f.submit t(:save), :class => "btn btn-info" %>
<% end %>
<br />
<%= link_to t(:normal_event_list_url), normal_event_list_url, :class => "btn btn-warning" %>
