<% eid ||= 'grade' %>
<select id="<%= eid %>" name="<%= eid %>" class="">
  <option value= "A">
    <%= value = t(:grade_A) %>
  </option>
  <option value= "B">
    <%= value = t(:grade_B) %>
  </option>
  <option value= "C">
    <%= value = t(:grade_C) %>
  </option>
  <option value= "D">
    <%= value = t(:grade_D) %>
  </option>
</select>