<h1><%=t :edit_zhaoxian %></h1>
<%= form_for_hash @zhaoxian, 'zhaoxian', {:action => "update"}, :method => :post, :class => "form" do |f| %>
  <%= render :partial => "form", :object => f, :locals => { :zhaoxian => @zhaoxian } %>
  <%= f.submit t(:save), :class => "btn btn-info" %>
<% end %>
<br />
<%= link_to t(:zhaoxian_list_url), {:action => "list", :zone => @zone}, :class => "btn btn-warning" %>
